<!-- <div class="container">
    <div class="card">
        <form class="loginForm" [formGroup]="loginForm">
            <h2 class="heading">Sales Master</h2>
            <img src="../../../assets/favicon32x32.png" style="height: 150px;">
            <div class="form-wrapper">
                <label>Email</label>
                <input type="text" placeholder="Email" formControlName="email">
                <div *ngIf="submitted && loginForm.get('email').errors" class="text-danger" style="text-align:left;">
                    <div *ngIf="loginForm.get('email').errors.required">Email is required.</div>
                    <div *ngIf="loginForm.get('email').errors.email">Email must be a valid email address.</div>
                </div>
                <br>
                <label>Password</label>
                <input type="password" placeholder="Password" formControlName="password" />
                <div *ngIf="submitted && loginForm.get('password').errors" class="text-danger" style="text-align:left;">
                    <div *ngIf="loginForm.get('password').errors.required">Password is required.</div>
                </div>
                <button class="btn" (click)="login()">Login</button>
            </div>
        </form>
    </div>
</div> -->
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="card col-md-5">
            <h2 class="heading">Sales Master</h2>
            <img src="assets/favicon32x32.png" style="height:160px;width: 160px;margin-left: 130px;">
            <form [formGroup]="loginForm">

                <input type="text" name="email" class="form-control" placeholder="Email" formControlName="email" autocomplete="off">
                <div *ngIf="submitted && loginForm.get('email').errors" class="text-danger" style="text-align:left;">
                    <div *ngIf="loginForm.get('email').errors.required">Email is required.</div>
                    <div *ngIf="loginForm.get('email').errors.email">Email must be a valid email address.</div>
                </div>
                <br>

                <input type="password" name="password" placeholder="Password" class="form-control" formControlName="password">
                <div *ngIf="submitted && loginForm.get('password').errors" class="text-danger" style="text-align:left;">
                    <div *ngIf="loginForm.get('password').errors.required">Password is required.</div>
                </div>

                <br>
                <button class="btn btn-primary" (click)="login()">Login</button>
            </form>
        </div>
    </div>
</div>